@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);


table, th, td {
  max-width:100%;
  white-space:nowrap;
  margin : auto;
  border-collapse: collapse;
  border: 1px solid black;
  width: 800px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}



#products td, #products th {
  border: 1px solid #ddd;
  padding: 8px;
}
#products tr:nth-child(even){background-color: #f2f2f2;}
#products tr:hover {background-color: #ddd;}

#products th {
  padding: 12px auto;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}



.btn {
  width: 50px;
  height: 30px;
  margin-right: 8px;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(93, 10, 141);
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 6px 4px 12px 0px rgba(0,0,0,0.44); 
  box-shadow: 6px 4px 12px 0px rgba(0,0,0,0.44);
}

.btn:hover {
  background-color: RoyalBlue;
}

.EditDeleteButtons {
  padding: 10px;
  background-color: inherit;
  display: inline-block;
  justify-content: space-between;

}

h1 {
  margin: auto;
  text-align: center;
}