#AddButton {
  width: auto;
  height: auto;
  background-color: rgb(207 207 207);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 40px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#AddButton:hover{
    background-color: #acacac;
}